
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
# Editor/IDE
# Go workspace file
# Output of the go coverage tool, specifically when used with LiteIDE
# Test binary, built with `go test -c`
# Training Data & Artifacts
# vendor/
*.bak
*.bakdata/server_access.log
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.idea/
.vscode/
data/*.bak
data/corpus.txt
data/dict_user.txt
data/server_new_words.txt
data/temp_discovered.txt
go.work
server.log
